@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
    
}
body{
    margin: 0;
    padding: 0;
    
}
@media screen and (min-width: 1000px) {
    main{

        background-image: url(./images/bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);;
        display: flex;
        height: 100vh;
        gap: 20px;
        
    }
    .left-div{
        margin: auto;
        
        width: 50%; 
    }
    .left-div > div{

        color: white;
        text-align: justify; 
        width: 60%;
        padding-left: 250px;
    }
    .left-div > div>h1{
        font-size: 60px;
    }
    .left-div > div>p{
        font-size: 25px;
        color: whitesmoke;
        
    }
    .right-div{
        
        margin: auto;
        
        width: 50%; 
    }
    .right-div >div{
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 20px;
    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 20x;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        box-shadow:  0px 7px rgba(0, 0, 0, 0.2);
    }
    .top-div{
        padding-bottom: px;
        text-align: center;
        background-color: hsl(248, 32%, 49%);
        border-radius: 10px;
        box-sizing: border-box;
        height: 60px;
        box-shadow:  0px 7px rgba(0, 0, 0, 0.2);
        color: whitesmoke;
        font-size: 20px;
    }
    strong{
        font-weight: 700;
        color: white;
    }
    input{
        margin: auto;
        height: 60px;
        border: 3px solid hsl(0, 100%, 74%);
        border-radius: 7px;
        width: 70%;
        margin-top: 40px;
        color: hsl(0, 100%, 74%);
        padding-left: 20px;
        outline: none;
        font-size: 20px;
        
    }
    input[type=text], input[type=password], input[type=email]{
        padding-right: 10px;
        background-image: url(./images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
        
        
    }
    ::placeholder{
        color: hsl(0, 100%, 74%);
    }

    #submit{
        background-color: hsl(154, 59%, 51%);
        color: white;
        border: 0px;
        height: 60px;
        cursor: grab;
        font-weight: 700;
        font-size: 20px;
        padding: 10px;
    }
    .form > p{
        color: hsl(246, 25%, 77%);
        font-size: px;
    }
    a{
        color: hsl(0, 100%, 74%);
        text-decoration: none;
        font-size: 10x;
    }
}

@media  screen and (max-width: 999px) {
    body{
    margin: 0;
    padding: 0;
    
}
    main{
        background-image: url(./images/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
        height: 100%;
        display:flex;
        flex-direction: column;
        width: 100%;
       
    }
    .left-div{
        margin: auto;
        width: 100%;
        margin: 35px;
         
    }
    .left-div > div{
        color: white;
        text-align: center;
        width: 300px;
    }
    .left-div > div >  h1{
        
        font-size: 30px;
    }
    .left-div > p{
        
        font-size: 30px;
    }
    .right-div{
    
        margin: auto;
        width: 100%;
        margin: 35px;
    }
    .right-div >div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: white;
        
        border-radius: 10px;
        text-align: center;
        box-shadow:  0px 7px rgba(0, 0, 0, 0.2);
    }
    .top-div{
        padding: 5px;
        text-align: center;
        background-color: hsl(248, 32%, 49%);
        border-radius: 10px;
        box-sizing: border-box;
        height: 85px;
        box-shadow:  0px 7px rgba(0, 0, 0, 0.2);
        color: whitesmoke;
        font-size: 20px;
        margin-top: 10px;
        
    }
    
strong{
    font-weight: 700;
    color: white;
}
input{
    margin: auto;
    height: 60px;
   
    border-radius: 7px;
    width: 200px;
    margin-top: 40px;
    color: hsl(246, 25%, 77%);
    padding-left: 20px;
    
    font-size: 20px;
    
}
input[type=text], input[type=password], input[type=email]{
    padding-right: 10px;
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    
    border: 1px solid hsl(246, 25%, 77%);
    
    
}
input[type=text] :focus, input[type=password] :focus, input[type=email] :focus{
    outline-color: hsl(0, 100%, 74%);
    outline-style: solid;
}
::placeholder{
    color: hsl(246, 25%, 77%);
}


#submit{
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: 0px;
    height: 60px;
    cursor: grab;
    font-weight: 400;
    font-size: 20px;
}
.form > p{
    color: hsl(246, 25%, 77%);
    font-size: px;
}
a{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-size: 10x;
}
}